<h1>Stupid Coaching</h1>
<p>
  <% string = params[:question]%>
  <%= string%>
</p>
<p>-You</p>
<br>

<% if string == "I am going to work" %>
  <%= "Great!"%>
  <p>-Coach</p>
<% elsif string.include? "?" %>
  <%= "Silly question, get dressed and go to work!"%>
  <p>-Coach</p>
  <% else %>
  <%= "I don't care, get dressed and go to work!"%>
  <p>-Coach</p>
<% end %>
<br>
<%= link_to '< Ask new question', ask_path %>
